body {
    background-color: lightgrey;
}

.main_title h1{
    margin: auto;
    width: 28%;
    padding: 5px;
	font-family:arial;
	
}
.main_title h2{	    
    margin: auto;
    width: 15%;
    padding: 10px;
	font-family:arial;
	
}/*positioning and formating of the navigation bar*/
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation ul li {
    margin:auto;
}

#navigation ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:arial;
}
/*change the of the link text when the user points to it with the mouse*/
#navigation ul li a:hover {
    background-color: #111;
    
}
.mypicture{
 width:378px;
 height:504px;
}
.mypicture img {
    float: left;
    display: block;
    margin: 0 auto;	
}
.congopicture{
    width:610px;
    height:723px;
}
/*positioning of the biography text on the index page*/
.biography{
    float: right;
    right: 0px;
    width: 900px;
    padding: 10px;
    font-family:arial;
}
/*positioning of the youtube embed video*/
iframe{
	float: left;
	margin-left: 40px;
}	
