

.main_title h1{
    margin: auto;
    width: 28%;
    padding: 5px;
	
}
.main_title h2{	    
    margin: auto;
    width: 15%;
    padding: 10px;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigation ul li {
    float: left;
}

#navigation ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation ul li a:hover {
    background-color: #111;
    
}
.resume h2{
	position:left;
}	
img {
    display: block;
    margin: 0 auto;
}

.biography{
    position: absolute;
    right: 300px;
    width: 700px;
    padding: 10px;
}
